body{
    width: 99%;
    height: 101vh;
    background-image:url("images/back6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom, right top;
}
h1{
    font-family: 'Lobster', cursive;
    font-size:3.5em;
    margin: 0px;
    letter-spacing: 3px;
    color:#d1f5f5;; 
    text-decoration: underline;
    text-decoration-color: rgb(224, 219, 219);
     background: -webkit-linear-gradient(#d1f5f5,  #75e2ab, #d1f5f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-family: 'Lobster', cursive;
    font-size:3em;
    margin-top: 0px;
    letter-spacing: 5px; 
    color:#d1f5f5;
    text-decoration-line: underline;
    text-decoration-color: rgb(224, 219, 219) ;
    background: -webkit-linear-gradient(#d1f5f5,  #75e2ab, #d1f5f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   
button{
      width:300px;
      height:60px;
      display:flex;
      margin-left: 40px;
      margin-top:50px;
      border-radius:100%;
      font-size:2.2em;
      color:lightslategray;
      font-family: 'Lobster', cursive;
      outline:none;
      padding-left:3em;
      border-color:white;
      background-image:linear-gradient(  rgb(255, 255, 255), #04c225, black);
}
button:hover{
    color:#000;
    transition: 1s;
}
.para{
    display:flex;
    justify-content: flex-end;
}
p{
    color: aliceblue;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    margin-top: 30px;
}
p:hover{
    background: -webkit-linear-gradient(#8a7b7b,  #d40a0a, #8a7b7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 3s;
    text-decoration: underline;
    text-decoration-color: rgb(235, 178, 103);
    
}
#sticker img{
    height: 150px;
    margin-left: 20px;
    margin-top: 50px;
}
a {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
    text-decoration-line: none;
}

